.App{
  align-items: center;
}

.App-h2 {
   padding-left:2em;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color:black;
}

.App-SearchBar {
  align-items: center;
  justify-content: center;
}

.hidden {
  clip: rect(0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}