body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F9F9F9;
}

h5 {
  font-size: 24px;
  line-height: 125%;
  color: #000000;
}

button{
  height: 40px;
  border-radius: 40px;
  background-color: #008A58;
  color:white;
  display: inline-block;
}

button:hover {
    background-color: white;
    color: #008A58;
    border-color: #008A58;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
